.logo {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

.logo > * {
  transition: all 0.2s;
}

.logo-img {
  height: 30px;
  width: 30px;
}

.name {
  font-family: "Tomato Grotesk", "sans-serif";
  font-size: 1rem;
  font-weight: var(--bold);
}

@media (max-width: 700px) {
  .name {
    font-size: 0.9rem;
  }
}
