.logo {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

.logo > * {
  transition: all 0.2s;
}

.logo-img {
  height: 30px;
  width: 30px;
}

.name {
  font-family: "Space Grotesk", "sans-serif";
  font-size: 1rem;
  font-weight: var(--bold);
  margin-left: 15px;
}
