.save-btn {
  margin-right: 15px;
}

.btns-container {
  margin-top: var(--form-section-margin-top);
  display: flex;
}

.delete-modal {
  background: #fff;
  height: fit-content;
  width: 30vw;
}

.modal-btns-container {
  display: flex;
  margin-top: 25px;
}

.cancel-btn {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .delete-modal {
    min-width: 400px;
  }
}
