.page-container {
  padding: 70px 125px;
  display: flex;
}

.divider {
  height: 1px;
  background: var(--primary-border-color);
  width: 100%;
  margin: 20px 0;
}

.listing-details {
  width: 40%;
  margin-left: 50px;
}

.msg-seller-btn {
  width: 100%;
  padding: 12px;
}

.desc-title {
  font-size: calc(1rem + 0.3vw);
  margin-bottom: 15px;
}

.desc {
  line-height: calc(0.8rem + 0.8vw);
}

.seller-section {
  padding: 10px 0;
}
