.page-container {
  padding: 70px 125px;
  display: flex;
}

.divider {
  height: 1px;
  background: var(--primary-border-color);
  width: 100%;
  margin: 20px 0;
}
.desc-title {
  font-size: calc(1rem + 0.3vw);
  margin-bottom: 15px;
}

.desc {
  line-height: calc(0.8rem + 0.8vw);
}

.seller-section {
  padding: 10px 0;
}

.listing-details {
  width: 40%;
  margin-left: 50px;
}

.carousel-container {
  width: 60%;
}

@media (max-width: 800px) {
  .page-container {
    flex-direction: column;
    align-items: center;
  }

  .listing-details,
  .carousel-container {
    width: 100%;
  }

  .listing-details {
    margin-left: 0;
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .page-container {
    padding: 70px 20px;
  }
}
