.login-page-container {
  min-height: calc(100vh - var(--navbar-height));
  width: 23vw;
  padding: 64px 0;
  margin: auto;
}

.centered-title {
  text-align: center;
  font-size: calc(2rem + 0.5vw);
}

.divider {
  width: 100%;
  margin: 25px 0;
  height: 1px;
  background: var(--primary-border-color);
}

.input:not(:first-child) {
  margin-top: 15px;
}

.input:first-of-type {
  margin-top: 45px;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px 12px;
}

.hints {
  text-align: center;
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.hints:first-of-type {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.hints span {
  cursor: pointer;
  text-decoration: underline;
}

.terms-text {
  margin-top: 30px;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 0.85rem;
}

.terms-text span {
  text-decoration: underline;
  font-size: 0.85rem;
  cursor: pointer;
}

.error {
  margin-top: 20px;
}

.reset-password-input {
  margin-top: 45px;
}

.submit-reset-password {
  width: 100%;
}
