.page-content-container {
  min-height: calc(dvh - var(--navbar-height));
}

@media (max-width: 1160px) {
  .page-content-container {
    margin-top: var(--navbar-height);
    min-height: calc(dvh - var(--navbar-height));
  }
}
