.widget-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.2s;
  user-select: none;
}

.widget-container:focus {
  outline: none;
}

.widget-container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
}

.username {
  font-size: calc(0.2vw + 0.9rem);
  font-weight: normal;
  font-family: "Tomato Grotesk", "sans-serif";
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.down-chevron {
  display: grid;
  place-items: center;
  margin-left: 10px;
  transition: transform 0.2s;
}

.down-chevron-flip {
  transform: rotate(180deg);
}

.dropdown {
  margin-top: calc(1rem + 0.3vw);
  list-style: none;
}

.dropdown li:not(:last-child) {
  margin-bottom: calc(1rem + 0.3vw);
}

.dropdown li {
  font-size: calc(0.2vw + 0.9rem);
  font-family: "Tomato Grotesk", "sans-serif";
  font-weight: lighter;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
  color: #a6a6a6;
}

.dropdown li:hover {
  color: black;
}

.dropdown-widget-container {
  border-bottom: 1px solid gray;
}
