.sidebar-container {
  position: fixed;
  top: 0;
  height: dvh;
  width: 400px;
  right: -800px;
  z-index: 999999;
  background: white;
  transition: right 0.5s;
  transition-timing-function: cubic-bezier(0.6, 0.01, -0.05, 0.95);
  overflow: auto;
  display: none;
}

.sidebar-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px 30px;
}

.separator {
  height: 1px;
  width: 100%;
  margin: calc(1rem + 0.6vw) 0;
  background: var(--primary-border-color);
}

.sidebar-open {
  right: 0;
}

.sidebar-bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: dvh;
  z-index: 99999;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-bg-open {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.category-list {
  list-style: none;
}

.category-list li {
  font-size: calc(0.2vw + 0.9rem);
  margin-bottom: calc(1rem + 0.3vw);
  font-weight: normal;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}

.category-list li:hover {
  color: #a6a6a6;
}

.logo {
  bottom: 30px;
  left: 30px;
  position: absolute;
}

@media (max-width: 1160px) {
  .sidebar-container {
    display: initial;
  }
}

@media (max-width: 550px) {
  .sidebar-container {
    width: 100%;
  }
}
