.item-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: var(--input-margin-top);
}

@media (max-width: 600px) {
  .item-details-container {
    grid-template-columns: 100%;
  }
}
