/* AuthWidget already applies 22px of margin left to children*/
.user-actions-widget-container > *:not(:first-child) {
  margin-left: 22px;
}

.user-actions-widget-container {
  display: flex;
}

@media (max-width: 900px) {
  .user-actions-widget-container {
    display: none;
  }
}
