.modal-btns-container {
  display: flex;
  margin-top: 25px;
}

.cancel-btn {
  margin-left: 10px;
}

.sold-modal {
  background: #fff;
  width: 30vw;
}

@media (max-width: 1200px) {
  .sold-modal {
    min-width: 350px;
  }
}

@media (max-width: 300px) {
  .sold-modal {
    min-width: 100%;
  }
}
