.page-container {
  padding: 50px 125px;
}

.profile-top-section {
  display: flex;
  justify-content: space-between;
}

.profile-bottom-section {
  margin-top: 20px;
}

.load-more-btn {
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .page-container {
    padding: 50px 20px;
  }

  .profile-top-section {
    flex-direction: column;
  }

  .profile-top-section > :last-child {
    margin-top: 20px;
  }
}
