.widget-container {
  display: flex;
  margin-bottom: 15px;
  width: fit-content;
  cursor: pointer;
}

.seller-img {
  width: 40px;
  height: 40px;
  border-radius: 999999px;
  margin-right: 10px;
}

.ratings-container {
  display: flex;
  color: var(--secondary-text-color);
  align-items: center;
}

.rating-number {
  margin-left: 8px;
  font-size: calc(0.1vw + 0.8rem);
}

.name-container {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 5px;
}
