.modal-top {
  padding: 25px;
}

.modal-bottom {
  padding: 30px 30px;
}

.modal-top {
  border-bottom: var(--primary-border);
}

.modal-title {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}

.modal-bottom {
  font-size: 0.95rem;
  line-height: 30px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal-content p {
  width: 100%;
  text-align: left;
}
