.carousel {
  height: 500px;
  background: transparent;
  border-radius: 8px;
  z-index: 0;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: black;
  height: 15px;
  width: 15px;
  padding: 15px;
  border-radius: 9999px;
  background: white;
  box-shadow: var(--box-shadow);
}
swiper-container::part(button-prev) {
  left: 20px;
}

swiper-container::part(button-next) {
  right: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Thumbnails carousel */
.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
