.thumbnail-carousel {
  margin-top: 15px;
  background: transparent;
  height: 125px;
}

.thumbnail-carousel .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbnail-carousel swiper-slide {
  opacity: 0.4;
}

/* If updated, change listingthumbs, listingcarousel, listing */
@media (max-width: 900px) {
  .thumbnail-carousel {
    display: none;
  }
}
