.sell-section,
.buy-section,
.interested-section {
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested-section {
  background: var(--background-beige);
}

.sell-section {
  background: #e9ecdb;
}

.section-title {
  font-size: calc(1.5rem + 0.5vw);
  text-align: center;
}

.section-subtitle {
  font-size: calc(1rem + 0.2vw);
  line-height: calc(1.5rem + 0.5vw);
  max-width: 450px;
  text-align: center;
  margin-top: 30px;
}

.homepage-btn {
  padding: 12px 25px !important;
  margin-top: 30px;
  border-width: 2px;
}

.buy-section > p {
  max-width: 350px;
  margin-bottom: 30px;
}

.interested-section-btns {
  display: flex;
  margin-top: 15px;
}

.interested-section-btns > *:last-child {
  margin-left: 15px;
}

.interested-section-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.interested-lyla {
  max-width: 500px;
}

.interested-section {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}

.share-btn-content {
  display: flex;
  align-items: center;
}

.share-btn-content p {
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .homepage-btn {
    padding: 8px 20px !important;
  }

  .sell-section,
  .buy-section,
  .interested-section {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interested-section {
    justify-content: center;
  }

  .interested-section-btns {
    width: 100%;
    justify-content: center;
  }

  .interested-lyla {
    max-width: 400px;
    margin-top: 20px;
  }
}
