.about-section,
.categories-section {
  padding: calc(4vw + 5rem) calc(5vw + 3rem);
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
}

.about-section > *:not(:first-child) {
  margin-top: 30px;
}

.section-title {
  font-size: calc(1.5rem + 1.5vw);
  font-family: "Tomato Grotesk", "sans-serif";
  line-height: calc(2rem + 1.5vw);
}

.about-section-title {
  max-width: 550px;
}

.about-section-text {
  font-size: calc(0.9rem + 0.3vw);
  max-width: 550px;
  line-height: calc(1.2rem + 1vw);
}

.arrow-btn {
  font-weight: 900;
  font-size: calc(0.8rem + 0.2vw);
  background: none;
  border: 1px solid black;
  border-radius: 200px;
  padding: 13px 20px;
  font-family: "Tomato Grotesk", "sans-serif";
  font-weight: normal;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
  transition: transform 0.2s;
}

.arrow-btn:hover .arrow {
  transform: translateX(8px);
}

/* Categories section */
.categories-section {
  background: var(--background-beige);
}

.categories-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 3.5rem;
}

.category-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.category-card img {
  flex-grow: 1;
  height: 300px;
  object-fit: cover;
  border-radius: 13px;
  pointer-events: none;
}

.category-title {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
}

.category-title h1 {
  font-size: calc(1rem + 0.3vw);
}

.category-arrow {
  border: 1px solid black;
  margin-left: 10px;
  padding: 2px;
  border-radius: 9999px;
  transition: all 0.2s;
}

.category-card:hover .category-arrow {
  transform: translate(3px, -3px);
}

@media (max-width: 787px) {
  .section-title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .categories-container {
    grid-template-columns: 100%;
  }

  .about-section,
  .categories-section {
    padding: calc(2vw + 4rem) calc(3vw + 2rem);
  }
}
