.profile-btns {
  display: flex;
  height: fit-content;
}

.profile-btn:last-child {
  margin-left: 15px;
}

.share-btn {
  display: flex;
  align-items: center;
}

.share-icon {
  margin-right: 5px;
}
