.nav-container > * {
  background: #fff;
}

.nav-top {
  z-index: 1;
  height: var(--nav-top-height);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--primary-border);
  padding: 0 30px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Nav left */
.nav-left {
  width: 600px;
}

/* Nav right */
.ios-app-btn {
  border: 1px solid #000;
  background: none;
  margin-left: 30px;
}

.ios-app-btn {
  background: none;
  border: none;
  font-family: "Tomato Grotesk", "sans-serif";
  color: black;
  cursor: pointer;
}

.hamburger-icon {
  margin-left: 30px;
  display: none;
  border: 1px solid black;
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
}

/* Nav bottom */
.nav-bottom {
  margin-top: var(--nav-top-height);
  width: 100%;
  height: 50px;
  padding: 0 10vw;
  border-bottom: var(--primary-border);
}

.nav-bottom ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bottom ul li {
  cursor: pointer;
  transition: all 0.2s;
  font-size: var(--smaller-font-size);
  font-weight: var(--bold);
  height: 100%;
  display: grid;
  place-items: center;
  width: calc(100% / 6);
}

.nav-bottom ul li:hover {
  color: var(--input-focus-color);
}

@media (max-width: 1160px) {
  .nav-left {
    flex-grow: 1;
  }

  .auth-widget {
    display: none;
  }

  .nav-right,
  .hamburger-icon {
    flex-shrink: 0;
  }

  .hamburger-icon {
    display: inline;
  }

  .nav {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .nav-bottom {
    display: none;
  }
}

@media (max-width: 600px) {
  .ios-app-btn {
    display: none;
  }

  .sign-in-btn {
    font-size: var(--smaller-font-size);
    margin-left: 15px;
  }

  .nav-right {
    margin-right: none;
  }

  .hamburger-icon {
    margin-left: 15px;
  }

  .nav-top {
    padding: 0 20px;
  }
}
