/* Info styles */
.title {
  font-weight: bold;
  font-size: calc(1rem + 0.1vw);
  line-height: calc(1rem + 0.7vw);
  margin-bottom: 15px;
  max-width: 100%;
  text-wrap: wrap;
  line-break: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location-link {
  color: var(--secondary-text-color);
}

.divider {
  height: 1px;
  background: var(--primary-border-color);
  width: 100%;
  margin: 20px 0;
}

.specs-container * {
  font-size: calc(0.9rem + 0.1vw);
}

.specs-container .data {
  color: var(--secondary-text-color);
  margin-left: 10px;
}

.specs-container > p:not(:first-child) {
  margin-top: 12px;
}

.price {
  margin-top: 30px;
}

.price {
  font-size: calc(1.3rem + 0.1vw);
}
