.all-btns {
  padding: 5px 17px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  transition: border ease 0.25s;
}

.text {
  height: 1.8rem;
  font-family: "Nunito", "sans-serif";
  font-size: calc(0.85rem + 0.1vw);
  height: 1.8rem;
  display: grid;
  place-items: center;
  font-weight: bold;
}

.all-btns:disabled {
  cursor: not-allowed;
}

.all-btns:focus {
  outline: none;
}

/* Types of buttons */

.no-outline {
  color: black;
  background: #fff;
}

.gray-outline {
  background: #fff;
  color: black;
  border: var(--primary-border);
}

.gray-outline-blue {
  background: #fff;
  color: var(--reserved-blue);
  border: var(--primary-border);
}

.gray-outline-red {
  background: #fff;
  color: var(--warning-red);
  border: var(--primary-border);
}

.black-filled {
  background: #000;
  color: #fff;
}

.burgundy-filled {
  background: var(--tradeable-burgundy);
  color: #fff;
}

.white-filled {
  background: #fff;
  color: black;
}

.black-outline {
  background: none;
  border: 1px solid #000;
  color: black;
}

.white-outline {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.red-outline {
  background: none;
  color: var(--warning-red);
  border: 1px solid var(--warning-red);
}

.red-filled {
  background: var(--warning-red);
  color: #fff;
}
