.all-btns {
  padding: 5px 17px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.all-btns > * {
  transition: ease 0.25s;
}

.text-container {
  height: 1.8rem;
}

.text-container > * {
  font-family: "Tomato Grotesk", "sans-serif";
  font-weight: normal;
  font-size: var(--smaller-font-size);
  height: 1.8rem;
  display: grid;
  place-items: center;
}

.all-btns:hover .text-container {
  transform: translateY(-1.8rem);
}

.all-btns:disabled {
  cursor: not-allowed;
}

.all-btns:focus {
  outline: none;
}

.gray-outline {
  background: #fff;
  border: var(--primary-border);
}

.gray-outline:hover {
  border: 1px solid #000;
}

.black-filled {
  background: #000;
  color: #fff;
}

.white-filled {
  background: #fff;
  color: black;
}

.black-outline {
  background: none;
  border: 1px solid #000;
}

.white-outline {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}
