.input-container {
  width: 50%;
}

.location-input {
  border: none;
  padding: 10px 0;
}

.location-input:focus {
  outline: none;
}

.location-input:focus .input-wrapper {
  border: var(--input-focus-border);
}

.input-wrapper {
  margin-top: var(--input-margin-top);
  outline: var(--primary-border);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.placeholder-icon,
.clear-btn {
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0 10px;
}

.clear-btn {
  cursor: pointer;
}
