.report-modal {
  background: #fff;
  width: 30vw;
}

.submit-btn {
  margin-top: 15px;
}

.reason-input {
  width: 100%;
}

@media (max-width: 1200px) {
  .report-modal {
    min-width: 350px;
  }
}

@media (max-width: 300px) {
  .report-modal {
    min-width: 100%;
  }
}
