.profile-img {
  border-radius: 9999px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.user-info-container {
  display: flex;
}

.user-data-container {
  margin-left: 30px;
}

.user-name {
  font-size: calc(1.5rem + 0.5vw);
  line-height: calc(2rem + 1vw);
}

.reviews-data-container {
  display: flex;
  margin-top: 10px;
}

.reviews-count {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}

.reviews-count::before {
  position: absolute;
  left: 0;
  content: "";
  background: var(--primary-border-color);
  width: 1px;
  height: 20px;
}

.about {
  margin-top: 20px;
  max-width: 500px;
}

.about p {
  margin-top: 10px;
}

.about h1 {
  font-size: 1rem;
}

.name-container {
  display: flex;
  align-items: center;
}

.verified-symbol {
  margin-left: 10px;
  cursor: pointer;
}
