.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  color: #000000;
}

.hero-text > * {
  text-align: center;
}

.title {
  font-family: "Tomato Grotesk", "sans-serif";
  font-size: calc(2rem + 1.5vw);
  font-weight: var(--bold);
  line-height: calc(2.2rem + 2vw);
  width: 900px;
  margin-top: 80px;
}

.desc {
  margin-top: 17px;
  font-size: calc(0.8rem + 0.3vw);
  line-height: calc(1rem + 0.8vw);
  max-width: 550px;
  width: 70vw;
}

.how-it-works-btn,
.explore-btn {
  padding: 10px 20px;
  margin-top: 17px;
}

.explore-btn {
  margin-left: 15px;
}

.btns-container {
  display: flex;
}

.hero-img {
  margin-top: 80px;
  width: 800px;
}

@media (max-width: 500px) {
  .hero-text {
    padding: 0;
    align-items: flex-start;
  }

  .hero-text > * {
    text-align: left;
  }
}
