.hero-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  pointer-events: none;
}

.hero-bg {
  background: url("../../assets/hero.jpeg");
  height: 100vh;
  width: 100%;
  filter: brightness(70%);
  background-position: 50% 20%;
  position: absolute;
  z-index: -9999;
}

.hero-title {
  color: #fff;
  font-family: "Space Grotesk", "sans-serif";
  font-size: 1.8rem;
  width: 400px;
  text-align: center;
  line-height: 40px;
  font-weight: var(--bold);
  animation-name: slideUpAndFade;
  animation-fill-mode: forwards;
  animation-duration: 800ms;
  margin-bottom: 35px;
  user-select: none;
}

.logo-img {
  width: 40px;
  height: 40px;
  animation-name: expand;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}

.logo,
.letters-container {
  display: flex;
  align-items: center;
}

.letters-container {
  margin-left: 20px;
  overflow: hidden;
  height: 30px;
}

.letter {
  color: #fff;
  font-family: "Space Grotesk", "sans-serif";
  font-size: 2.5rem;
  font-weight: var(--bold);
}

@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}

.desc {
  color: #fff;
  margin-top: 15px;
  font-size: 1.05rem;
  font-family: "Space Grotesk", "sans-serif";
  animation-name: fadeUp;
  animation-fill-mode: forwards;
  animation-delay: 1400ms;
  opacity: 0;
  animation-duration: 700ms;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
  }
}
