.hero-container {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: relative;
}

.hero-bg {
  background: url("../../assets/hero.jpeg") no-repeat;
  background-size: cover;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  filter: brightness(55%);
  background-position: 50% 20%;
  position: absolute;
  z-index: -9999;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.hero-text > * {
  text-align: center;
}

.title {
  font-family: "Tomato Grotesk", "sans-serif";
  font-size: calc(2rem + 2vw);
  font-weight: var(--bold);
  line-height: calc(2.2rem + 2vw);
  max-width: 700px;
}

.desc {
  margin-top: 17px;
  font-size: calc(0.8rem + 0.3vw);
  line-height: calc(1rem + 0.8vw);
  max-width: 550px;
  width: 70vw;
}

.how-it-works-btn,
.explore-btn {
  padding: 10px 20px;
  margin-top: 17px;
}

.explore-btn {
  margin-left: 15px;
}

.btns-container {
  display: flex;
}

@media (max-width: 500px) {
  .hero-text {
    padding: 0;
    align-items: flex-start;
  }

  .hero-text > * {
    text-align: left;
  }
}
