.searchbar {
  margin-left: 30px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  height: 43px;
  width: 100%;
  border: 1px solid var(--primary-border-color);
  background: none;
}

/* Searchbar focus styles */
.searchbar-focus {
  outline: var(--input-focus-border);
}

/* Everything else */
.input {
  border: none;
  height: 100%;
  padding: 12px 0;
  background: none;
  width: calc(100% - 78px);
  font-size: var(--smaller-font-size);
}

.input:focus {
  outline: none;
}

.placeholder-icon {
  height: 100%;
  padding: 0 10px;
  display: grid;
  place-items: center;
  color: black;
}

.clear-search-btn {
  cursor: pointer;
}

/* Search button */
.search-btn {
  border-radius: 0 50px 50px 0;
  border: none;
  width: 42px;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-left: auto;
}

.search-btn {
  background: var(--tradeable-beige);
}

@media (max-width: 600px) {
  .searchbar {
    margin-left: 15px;
  }

  .search-btn {
    display: none;
  }
}
