.searchbar {
  margin-left: 15px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  height: 43px;
  width: 100%;
  border: 1px solid var(--primary-border-color);
  background: none;
}

/* Searchbar focus styles */
.searchbar-focus {
  border: var(--input-focus-border);
}

/* Everything else */
.searchbar form {
  width: 100%;
  display: flex;
  align-items: center;
  height: 43px;
}

.searchbar input {
  border: none;
  padding: 0 12px;
  background: none;
  font-size: var(--smaller-font-size);
  flex: 1;
}

/* Search btn */
.searchbar button {
  border-radius: 0 50px 50px 0;
  border: none;
  width: 42px;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-left: auto;
  background: var(--tradeable-beige);
}

.searchbar input:focus {
  outline: none;
}

.placeholder-icon {
  height: 100%;
  padding: 0 10px;
  display: grid;
  place-items: center;
  color: black;
}

.clear-search-btn {
  cursor: pointer;
}
