.searchbar {
  margin-left: 30px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 42px;
  width: 100%;
  transition: all 0.2s;
}

/* Searchbar focus styles */
.searchbar-focus {
  outline: var(--input-focus-border);
}

/* Everything else */
.input {
  border: none;
  height: 100%;
  padding: 12px 0;
  background: none;
  width: calc(100% - 78px);
}

.input:focus {
  outline: none;
  color: black;
}

.placeholder-icon {
  height: 100%;
  padding: 0 10px;
  display: grid;
  place-items: center;
  color: #fff;
}

.clear-search-btn {
  cursor: pointer;
}

.search-btn {
  background: var(--shareable-beige);
  border-radius: 0 50px 50px 0;
  border: none;
  width: 42px;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-left: auto;
}

/* Toggled classes (to change color of placeholder) */
.hero-search {
  color: white;
}

.hero-search::placeholder {
  color: white;
}

.hero-search:focus::placeholder {
  color: var(--secondary-text-color);
}

.default-search {
  color: black;
}

.default-search::placeholder {
  color: var(--secondary-text-color);
}
