.card-container {
  cursor: pointer;
  min-width: 0;
}

.img-container {
  position: relative;
  border-radius: 5px;
}

.listing-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: 5px;
}

.status-tag {
  color: #fff;
  display: inline;
  border-radius: 3px;
  padding: 3px 8px;
  font-weight: bold;
  text-transform: capitalize;
  z-index: 2;
  top: 15px;
  left: 15px;
  border: 1px solid #fff;
  position: absolute;
}

.overlay {
  width: 100%;
  aspect-ratio: 4/3;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  border-radius: 8px;
}

.gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0.07)
  );
  background-size: cover;
  color: white;
  padding: 20px;
  width: 100%;
  aspect-ratio: 4/3;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  border-radius: 8px;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.text-container > * {
  margin-top: 5px;
}

.text-container h1 {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.condition {
  color: var(--secondary-text-color);
}

.price {
  font-size: 1.1rem !important;
}
