.sign-in-btn {
  width: 100%;
  text-align: left;
  border: var(--primary-border);
  background: #fff;
  font-weight: normal;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  color: black;
}

.sign-in-btn:hover {
  background: #f6f6f6;
}

.sign-in-btn p {
  margin-left: 10px;
  font-weight: normal;
}
