.components-container {
  display: flex;
  justify-content: center;
  min-height: calc(-webkit-fill-available - var(--navbar-height));
  border-top: var(--primary-border);
}

.mobile {
  display: none;
}

@media (max-width: 1160px) {
  .web {
    display: none;
  }

  .mobile {
    display: initial;
  }

  .components-container {
    min-height: calc(-webkit-fill-available - var(--navbar-height));
  }
}
