.ais-RefinementList-list {
  width: fit-content;
  display: flex;
  align-items: center;
  list-style: none;
}

.ais-RefinementList-item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.ais-RefinementList-item:not(:first-child) {
  margin-left: 15px;
}

.ais-InfiniteHits-item::marker {
  content: none;
}

.ais-InfiniteHits-loadPrevious {
  display: none;
}

.ais-SortBy-select {
  padding: 10px;
  border-radius: 20px;
}

.ais-RefinementList-count {
  display: none;
}

.ais-RefinementList-label {
  display: flex;
  align-items: center;
}

.ais-RefinementList-checkbox {
  padding: 12px;
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .ais-RefinementList {
    width: 100%;
  }

  .ais-RefinementList-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .ais-RefinementList-item:not(:first-child) {
    margin-top: 0;
    margin-left: 30px;
  }
}
