.listings-container {
  width: 300px;
}

.listings-and-category-container,
.stats-and-sort-by-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.categories-heading {
  font-size: calc(1rem + 0.1vw);
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .categories-heading {
    display: none;
  }

  .listings-and-category-container {
    flex-direction: column;
  }
}
