.listings-container {
  width: 300px;
}

.listings-and-category-container,
.stats-and-sort-by-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.stats-and-sort-by-container > *:first-child {
  margin-right: 15px;
}

.stats-and-sort-by-container {
  align-items: center;
}

.categories-heading {
  font-size: calc(1rem + 0.1vw);
  margin-bottom: 20px;
}

.categories-container {
  width: 200px;
}

@media (max-width: 700px) {
  .categories-heading {
    display: none;
  }

  .stats-and-sort-by-container {
    justify-content: center;
  }

  .listings-and-category-container {
    flex-direction: column;
  }

  .categories-container {
    width: 100%;
  }
}
