.listings-container {
  width: 300px;
}

.stats-and-sort-by-container {
  display: flex;
  justify-content: flex-end;
}

.filter-and-sort-widgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.stats-and-sort-by-container > *:first-child {
  margin-right: 15px;
}

.stats-and-sort-by-container {
  align-items: center;
}

.categories-heading {
  font-size: calc(1rem + 0.1vw);
  margin-bottom: 20px;
}

.categories-container {
  width: 200px;
}

@media (max-width: 1000px) {
  .filter-and-sort-widgets {
    flex-direction: column-reverse;
    width: 100%;
  }

  .filter-and-sort-widgets > *:first-child {
    border-top: 1px solid #f3f3f3;
    padding-top: 25px;
    margin-top: 25px;
  }

  .stats-and-sort-by-container {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .categories-heading {
    display: none;
  }

  .listings-and-category-container {
    flex-direction: column;
  }
}
