.widget-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  height: var(--navbar-height);
}

.widget-container:focus {
  outline: none;
}

.profile-image {
  object-fit: cover;
}

.widget-container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
}

.username {
  margin-left: 10px;
  font-weight: bold;
  font-family: "Nunito", "sans-serif";
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--smaller-font-size);
}

.down-chevron {
  display: grid;
  place-items: center;
  margin-left: 10px;
  transition: transform 0.2s;
}

.down-chevron-flip {
  transform: rotate(180deg);
}

.select-menu {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
  width: 140px;
  padding: 15px;
  box-shadow: var(--box-shadow);
  z-index: 999;
  animation-name: slideDownAndFade;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}

/* Dropdown items */
.select-item {
  transition: all 0.2s;
  font-size: 0.9rem;
}

.select-item:not(:first-child) {
  margin-top: 15px;
}

.select-item:last-child {
  color: var(--secondary-text-color);
  margin-top: 12px;
}

.select-item:hover,
.select-item:focus {
  outline: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.select-separator {
  height: 1px;
  background: var(--primary-border-color);
  margin-top: 12px;
}

/* Animation from Radix UI docs https://www.radix-ui.com/docs/primitives/components/dropdown-menu#content */
@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-9px);
  }
  to {
    opacity: 1;
    transform: translateY(-12px);
  }
}

/* Must be the same screen width as hamburger disappearing in Navbar/HeroNavbar */
@media (max-width: 900px) {
  .widget-container {
    pointer-events: none;
  }

  .username,
  .down-chevron {
    display: none;
  }
}
