.widget-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  background: none;
  border: none;
}

.widget-container:focus {
  outline: none;
}

.widget-container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
}

.username {
  margin-left: 10px;
  font-weight: var(--bold);
  font-family: "Space Grotesk", "sans-serif";
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.down-chevron {
  display: grid;
  place-items: center;
  margin-left: 10px;
}

.select-menu {
  background: #fff;
  border: var(--primary-border);
  border-radius: 3px;
  width: 140px;
  animation-duration: 300ms;
  animation-name: slideDownAndFade;
  transform: translateY(-12px);
  padding: 12px 15px;
  box-shadow: var(--box-shadow);
  z-index: 999;
}

/* Dropdown items */
.select-item {
  transition: all 0.2s;
  font-size: 0.9rem;
}

.select-item:not(:first-child) {
  margin-top: 10px;
}

.select-item:last-child {
  color: var(--secondary-text-color);
  margin-top: 12px;
}

.select-item:hover,
.select-item:focus {
  outline: none;
  color: var(--input-focus-color);
  cursor: pointer;
}

.select-separator {
  height: 1px;
  background: var(--primary-border-color);
  margin-top: 12px;
}

/* Animation from Radix UI docs https://www.radix-ui.com/docs/primitives/components/dropdown-menu#content */
@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-14px);
  }
  to {
    opacity: 1;
    transform: translateY(-12px);
  }
}
