.checkboxes-container {
  display: flex;
  flex-direction: column;
}

.checkboxes-container > .checkbox {
  margin-top: var(--input-margin-top);
}

.location-inputs-container > * {
  margin-left: 40px;
}

.location-inputs-container {
  padding: var(--form-section-margin-top) 0;
  margin-bottom: var(--form-section-margin-top);
  border-bottom: 1px solid var(--primary-border-color);
}
