.grid-image-container {
  position: relative;
}

.image-number,
.delete-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  font-family: "Tomato Grotesk", "sans-serif";
  font-weight: normal;
  background: rgba(0, 0, 0, 0.6);
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #fff;
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow);
}

.grid-image-container:hover .image-number {
  display: none;
}

.delete-btn {
  display: none;
  background: rgba(227, 62, 50, 0.8);
}

.grid-image-container:hover .delete-btn {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.cover-indicator {
  position: absolute;
  font-weight: normal;
  top: 0;
  color: #fff;
  font-family: "Tomato Grotesk", "sans-serif";
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid var(--primary-border-color);
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 2px;
}

.grid-image {
  background: #000;
  background-size: cover;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 5px;
  border: 1px solid var(--primary-border-color);
}

.grid-image-container:hover .drag-indicator {
  display: initial;
}
