.dropzone-content p {
  margin-top: 8px;
}

.dropzone {
  background: var(--primary-icon-bg-color);
  color: var(--secondary-text-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px dashed var(--primary-border-color);
  height: 263.09px;
}

.dropzone * {
  display: grid;
  place-items: center;
}

/* TODO: not responsive at all */
.dropzone-content {
  max-width: 250px;
  text-align: center;
}

.photos-field-container {
  display: flex;
  margin-top: var(--input-margin-top);
}

.photos-field-container > * {
  width: 50%;
}

@media (max-width: 950px) {
  .photos-field-container {
    flex-direction: column;
    width: 100%;
  }

  .photos-field-container > * {
    width: 100%;
  }
}
