.dropzone-content p {
  margin-top: 8px;
}

.dropzone {
  background: var(--primary-icon-bg-color);
  color: var(--secondary-text-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px dashed var(--primary-border-color);
  height: 266.66px;
}

.dropzone * {
  display: grid;
  place-items: center;
}

/* TODO: not responsive at all */
.dropzone-content {
  width: 250px;
  text-align: center;
}
