.component-top-container {
  width: 100%;
  border-bottom: 1px solid var(--primary-border-color);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-bottom-container {
  width: 100%;
  border-bottom: 1px solid var(--primary-border-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.listing-details {
  margin-left: 15px;
}

.listing-data-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listing-name {
  max-width: 400px;
  font-size: calc(0.8rem + 0.2vw);
  text-wrap: wrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  font-size: calc(0.9rem + 0.2vw);
  font-weight: bold;
  margin-top: 5px;
}

.seller-btns,
.listing-sold-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.seller-btns > * {
  width: 100%;
}

.sold-btn {
  margin-left: 15px;
}

.listing-sold-msg {
  color: var(--secondary-text-color);
  margin-right: 15px;
}

/* Same as messages.module.css */
@media (max-width: 1160px) {
  .component-container {
    padding: 10px 20px;
  }
}
