#banner {
  position: fixed;
  background: var(--tradeable-burgundy);
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  z-index: 999;
}

@font-face {
  font-family: "Visby Round CF";
  font-style: bold;
  font-weight: bold;
  src: local("Visby Round Bold"),
    url("/src/fonts/VisbyRound/VisbyRoundCF-Bold.woff");
}
