#banner {
  position: fixed;
  background: var(--tradeable-burgundy);
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  z-index: 999;
}

@font-face {
  font-family: "Tomato Grotesk";
  font-weight: bold;
  src: local("Tomato Grotesk"),
    url(./fonts/tomato_grotesk//TomatoGrotesk-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Tomato Grotesk";
  font-weight: normal;
  src: local("Tomato Grotesk"),
    url(./fonts/tomato_grotesk//TomatoGrotesk-SemiBold.otf) format("opentype");
}
