@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", "sans-serif"
}

:root {
    --navbar-height: 128px;
    --primary-border-color: #D8D8D8;
    --shareable-burgundy: #851D40;
    --shareable-beige: #F7DDC3;
    --input-focus-color: #015ECC;
}