@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  font-size: 0.93rem;
  background-clip: border-box;
  scroll-behavior: smooth;
  line-height: 20px;
}

:root {
  --navbar-height: 135px;
  --nav-top-height: 85px;
  --nav-bottom-height: 50px;
  --banner-height: 33px;
  /* Colors */
  --tradeable-burgundy: #851d40;
  --tradeable-beige: #f7ddc3;
  --warning-red: #e33e32;
  --background-beige: #ebdccb;
  /* Borders */
  --primary-border-color: #d8d8d8;
  --primary-border: 1px solid var(--primary-border-color);
  /* Inputs and forms */
  --input-focus-color: #015ecc;
  --input-focus-border: 1.5px solid var(--input-focus-color);
  --input-warning-border: 1.5px solid var(--warning-red);
  --input-margin-top: 13px;
  --checked-green: #67a629;
  --form-section-margin-top: 30px;
  /* Stylistic elements */
  --primary-icon-bg-color: #f6f6f6;
  --box-shadow: rgba(99, 99, 99, 0.1) 0px 1px 4px;
  /* Text */
  --bold: 505;
  --secondary-text-color: #676767; /* Also used for icons */
  --smaller-font-size: 0.9rem;
  /* Listings */
  --reserved-blue: #255aa9;
}

/* Global containers */
.form-section-container {
  /* Goes underneath subtitles */
  margin-top: var(--form-section-margin-top);
}

.page-section-container {
  margin-top: 50px;
}

/* Global text styles */
.link {
  text-decoration: underline;
  cursor: pointer;
}

.bold {
  font-weight: var(--bold);
}

.page-title {
  font-weight: var(--bold);
  font-size: 2rem;
}

.subtitle {
  font-weight: var(--bold);
  font-size: 1.3rem;
}

/* Global modal styles */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Global input styles */
.input-field-container {
  display: grid;
  /* For error messages */
  position: relative;
}

.input {
  margin-top: var(--input-margin-top);
  outline: var(--primary-border);
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
}

.input:focus {
  outline: var(--input-focus-border);
}

.input-label {
  font-weight: normal;
}

.input-wrapper {
  /* For inputs that have elements other than the main input */
  margin-top: var(--input-margin-top);
  outline: var(--primary-border);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  padding: 10px 12px;
}
