#terms-text {
  text-align: center;
  width: 55%;
  margin: 30px auto;
  font-size: 0.75rem;
}

/* TODO: the span won't inherit the font size for some reason... */
#terms-text span {
  font-size: 0.75rem;
}

.title {
  font-size: 1.3rem;
  line-height: 25px;
  width: 40%;
}

.sign-in-error {
  margin-top: 20px;
}

.text-flex-container {
  display: flex;
  justify-content: space-between;
}

.desc {
  width: 50%;
}
