.photos-grid-container {
  position: relative;
  flex-grow: 1;
}

.photos-grid,
.frames-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5em;
  height: 100%;
}

/* TODO: NOT GOOD */
.frames-container {
  z-index: -2;
  width: 100%;
}

.frames-container > * {
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 1;
  border: 1px solid var(--primary-border-color);
}

.photo-frame {
  display: grid;
  place-items: center;
  color: var(--secondary-text-color);
}

@media (max-width: 950px) {
  .photos-grid,
  .frames-container {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}
