.photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5em;
  margin-left: 20px;
}

.photo-frame {
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 1;
  border: 1px solid var(--primary-border-color);
  pointer-events: none;
  display: grid;
  place-items: center;
}

@media (max-width: 950px) {
  .photos-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin-left: 0;
    margin-top: 20px;
  }
}
