.dropzone-content p {
  margin-top: 8px;
}

.dropzone {
  background: var(--primary-icon-bg-color);
  color: var(--secondary-text-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px dashed var(--primary-border-color);
  height: 263.09px;
}

.dropzone * {
  display: grid;
  place-items: center;
}

/* TODO: not responsive at all */

.photos-field-container {
  display: flex;
  margin-top: var(--input-margin-top);
}

.photos-field-container > * {
  width: 50%;
}

.web-dropzone-content {
  max-width: 250px;
  text-align: center;
}

.web-dropzone-content p {
  margin-top: 10px;
}

.phone-dropzone-content {
  display: none;
}

.phone-dropzone-content p {
  margin-left: 8px;
}

@media (max-width: 950px) {
  .photos-field-container {
    flex-direction: column;
    width: 100%;
  }

  .photos-field-container > * {
    width: 100%;
  }

  .dropzone {
    height: 50px;
  }

  .web-dropzone-content {
    display: none;
    text-align: center;
  }

  .phone-dropzone-content {
    display: flex;
    width: 100%;
    padding-left: 20px;
  }
}

/* To separate hint and dropzone, must be the same as media query in PhotosSection */
@media (max-width: 500px) {
}
