.footer-container {
  background: #202322;
  color: #fff;
  padding: 0 55px;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.footer-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-container ul li {
  font-weight: var(--bold);
  cursor: pointer;
  margin-right: 50px;
}
