.footer-container {
  background: #101010;
  color: #fff;
  padding: 0 55px;
  height: var(--nav-top-height);
  display: flex;
  justify-content: space-between;
}

.footer-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-container ul li:not(:last-child) {
  margin-right: 50px;
}

.footer-container ul li,
.conditions-text {
  font-weight: var(--bold);
  cursor: pointer;
  font-size: var(--smaller-font-size);
}

.mobile-footer-logo {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 10px;
  font-family: "Space Grotesk", "sans-serif";
  font-size: 1rem;
  font-weight: bolder;
}

@media (max-width: 600px) {
  .conditions-text {
    display: none;
  }
}

.footer-bottom-container {
  background: #292929;
  color: #fff;
  padding: 50 20px;
  height: 80px;
  display: none;
}

@media (max-width: 500px) {
  .footer-bottom-container {
    display: grid;
    place-items: center;
  }

  .footer-top-logo {
    display: none;
  }

  .footer-container {
    padding: 0;
    height: 70px;
  }

  .footer-container ul {
    justify-content: center;
    width: 100%;
  }
}
