.wide {
  padding: 60px 70px;
  padding-bottom: 0;
}

.centered {
  width: 850px;
  padding: 64px 0;
  margin: auto;
}

@media (max-width: 1160px) {
  .all-containers {
    margin-top: var(--navbar-height);
  }
}

@media (max-width: 950px) {
  .centered {
    width: 100%;
    padding: 60px 5vw;
    padding-bottom: 0;
  }

  .wide {
    width: 100%;
    padding: 60px 5vw;
    max-height: calc(100dvh - var(--navbar-height));
    overflow-y: hidden;
  }
}
