.wide {
  padding: 60px 111px;
}

.centered {
  width: 850px;
  padding: 64px 0;
  margin: auto;
}

@media (max-width: 1160px) {
  .all-containers {
    margin-top: var(--navbar-height);
  }
}

@media (max-width: 950px) {
  .centered {
    width: 100%;
    padding: 64px 5vw;
  }
}
