.auth-widget-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.auth-widget-skeleton-1 {
  width: 48px;
  height: 35px;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container > * {
  margin-left: 15px;
}

.sell-btn {
  margin-left: 15px;
}

/* Must be the same as ios-app-btn disappearing in Navbar/HeroNavbar */
@media (max-width: 600px) {
  .sell-btn {
    display: none;
  }

  .log-in-btn {
    display: none;
  }

  .sign-up-btn {
    margin-left: 15px;
  }
}
