.message {
  display: flex;
  gap: 15px;
}

.message:not(:last-child) {
  margin-bottom: 15px;
}

.message-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-img-container {
  position: relative;
  border-radius: 5px;
}

.img {
  border-radius: 5px;
}

.message-img-overlay {
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0.07)
  );
  width: 100%;
  height: 100%;
}

.message-content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message-text {
  padding: 5px 12px;
  border-radius: 5px;
  max-width: max-content;
  line-break: anywhere;
  line-height: 30px;
  text-wrap: wrap;
}

.message-img {
  margin-bottom: 15px;
  border-radius: 5px;
  /* Must be fixed height so that scrollIntoView works */
  height: 200px;
  max-width: 500px;
  object-fit: contain;
  background: var(--primary-border-color);
}

.message-info {
  display: flex;
  flex-direction: column;
  color: var(--secondary-text-color);
}

/* Current user message styles */
.curr-user .message-text {
  background-color: #ebebeb;
  margin: none;
}

.curr-user {
  flex-direction: row-reverse;
}

.curr-user .message-content {
  align-items: flex-end;
}

.curr-user .message-info {
  display: none;
}

.curr-user .message-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Other user message styles */
.other-user .message-text {
  background: #f7ddc3;
}

@media (max-width: 800px) {
  .message-img {
    max-width: 250px;
    object-fit: contain;
  }
}
